# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Tower Defense.iml
# Datasource local storage ignored files
/../../../../../../../../:\Programs\Unity\Projects\Tower Defense\.idea\.idea.Tower Defense\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
